@charset "UTF-8";
.text-grand-hotel {
  font-family: 'Grand Hotel', cursive; }
 .header{
 background-color: black !important;}
 img{
 height: 100vh}
 .card{
 background: hsla(0, 0%, 100%, 0.55);
 backdrop-filter: blur(30px);}