@charset "UTF-8";
footer {
  padding: 0;
  font-size: calc(1.3rem + 0.5vw); }
  footer .container {
  padding: 6rem 0;
  }
  footer .span {
    margin-right: 10rem; }
  footer .border-icon {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
  footer ul li {
    margin-bottom: 0.7rem; }
    footer ul li a {
      text-decoration: none;
      color: white;
      font-weight: normal !important; }
    footer ul li a:hover {
      color: #aaa;
      margin-left: 10px; }
