@charset "UTF-8";
.header-group .header {
  position: fixed; }
  .header-group .header .logo {
    margin-right: auto; }
  .header-group .header .navbar a {
    font-size: 2rem;
    color: white; }
  .header-group .header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    display: none; }
  .header-group .header .navbar a:hover {
    color: #aaa; }
  .header-group .header .icons a, .header-group .header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #aaa; }
  .header-group .header .icons a:hover, .header-group .header .icons div:hover {
    color: #aaa; }
.header-group .header.active {
  background: black;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
.header-group .title {
  height: 40vh;
  padding-top: 10rem; }
  .header-group .title button:hover {
    color: white; }

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%); }
  .search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 6rem; }
  .search-form #close-search:hover {
    color: #aaa; }
  .search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid white; }
    .search-form form input {
      width: 100%;
      font-size: 2rem;
      color: white;
      text-transform: none;
      background: none;
      padding-right: 2rem; }
    .search-form form label {
      font-size: 3rem;
      cursor: pointer;
      color: #fff; }
    .search-form form label:hover {
      color: #aaa; }

.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }