@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear; }

body, html {
  height: 100%;
  margin: 0; }

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; }

.header-group {
  background: url(../image/home-image/bg-header.png) no-repeat;
  height: 80rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header-group .header {
    position: fixed; }
    .header-group .header .logo {
      margin-right: auto; }
    .header-group .header .navbar a {
      font-size: 2rem;
      color: white; }
    .header-group .header .navbar #nav-close {
      font-size: 5rem;
      cursor: pointer;
      display: none; }
    .header-group .header .navbar a:hover {
      color: #aaa; }
    .header-group .header .icons a, .header-group .header .icons div {
      font-size: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
      color: white; }
    .header-group .header .icons a:hover, .header-group .header .icons div:hover {
      color: #aaa; }
  .header-group .header.active {
    background: black;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .header-group .title {
    height: 80vh;
    padding-top: 15rem; }
    .header-group .title span {
      font-size: calc(4rem + 4vw); }
    .header-group .title p {
      font-size: calc(1.36rem + 1.5vw); }
    .header-group .title button {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-weight: bold;
      padding: 1rem 5rem; }
    .header-group .title button:hover {
      color: white; }

.text-grand-hotel {
  font-family: 'Grand Hotel', cursive; }

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%); }
  .search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 6rem; }
  .search-form #close-search:hover {
    color: #aaa; }
  .search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid white; }
    .search-form form input {
      width: 100%;
      font-size: 2rem;
      color: white;
      text-transform: none;
      background: none;
      padding-right: 2rem; }
    .search-form form label {
      font-size: 3rem;
      cursor: pointer;
      color: #fff; }
    .search-form form label:hover {
      color: #aaa; }

.search-form.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }

main .img-circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
main .border-circle {
  height: 25rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 25rem; }
main .group1 .container {
  margin-top: 5vh;
  padding-bottom: 10vh; }
  main .group1 .container .title-group1 p {
    font-size: calc(2.7rem + 3vw); }
  main .group1 .container .content-group1 p {
    font-size: calc(2rem + 2vw); }
main .group2 {
  background: url(image/home/group2-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 0; }
  main .group2 p {
    font-size: calc(3.5rem + 3.5vw);
    font-family: 'Grand Hotel', cursive; }
  main .group2 button {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    padding: 1rem 5rem; }
  main .group2 button:hover {
    color: white; }
main .group3 {
  background: url(../image/home/group3-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  main .group3 .container {
    padding: 10rem 0; }
    main .group3 .container .title-group3 p {
      font-size: calc(3.5rem + 3.5vw);
      font-family: 'Grand Hotel', cursive; }
    main .group3 .container .title-group3 h1 {
      margin: 0 25rem; }
    main .group3 .container .row {
      padding: 10rem 0; }
      main .group3 .container .row p {
        font-size: calc(2rem + 2.5vw);
        margin-bottom: 0; }
      main .group3 .container .row span {
        font-size: calc(1.5rem + 1.3vw); }
main .group4 {
  background: url(../image/home/group4-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 0; }
  main .group4 p {
    font-size: calc(3.5rem + 3.5vw);
    font-family: 'Grand Hotel', cursive; }
  main .group4 button {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: bold;
    padding: 1rem 5rem; }
  main .group4 button:hover {
    color: white; }
main .group5 {
  background: url(../image/home/group5-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25rem 0; }
  main .group5 span {
    font-size: calc(1.5rem + 1.5vw); }
  main .group5 p {
    font-size: calc(2rem + 3vw);
    font-family: 'Grand Hotel', cursive; }
main .group6 {
  background: url(../image/home/group6-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25rem 0; }
  main .group6 .title-group6 p {
    font-size: calc(3.5rem + 3.5vw);
    font-family: 'Grand Hotel', cursive; }
  main .group6 .title-group6 h1 {
    width: 50vw;
    margin: 0 25rem; }
  main .group6 form {
    padding: 5rem 0; }
    main .group6 form .box-shadow {
      max-width: 75vw;
      box-shadow: 5px 5px 5px 5px #AAA; }
      main .group6 form .box-shadow input {
        font-size: calc(1.3rem + 1.5vw); }
      main .group6 form .box-shadow .email {
        text-indent: 5rem;
        width: 45vw; }
      main .group6 form .box-shadow .group6-btn {
        line-height: 2rem;
        font-weight: bold;
        padding: 1.9rem 5rem; }
      main .group6 form .box-shadow .group6-btn:hover {
        color: white !important; }


@media (max-width: 1200px) {
  .header {
    padding: 2rem; }

  .group3 .title-group3 h1 {
    margin: 0 !important; }

  .group6 h1 {
    width: 100%  !important;
    margin: 0 !important; } }
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem; }

  .header-group .title {
    padding-top: 20rem; } }
@media (max-width: 767px) {
  html {
    font-size: 50%; }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: white;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem !important;
      color: black !important; }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem; }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8); }

  main .group2 p, main .group2 h1, main .group2 .group2-btn {
    text-align: center; }
  main .group3 .container {
    padding: 10rem 0 0 0; }
    main .group3 .container .row {
      padding: 5rem 0; }
  main .group4 {
    padding: 0; }
    main .group4 .content-group4 p, main .group4 .content-group4 h1, main .group4 .content-group4 .group4-btn {
      text-align: center; }
    main .group4 img {
      margin-bottom: 5rem; }
  main .group5 {
    padding: 10rem 0; }
  main .group6 {
    padding: 10rem 0; }
    main .group6 .box-shadow {
      box-shadow: none !important;
      background-color: #f4f4f4; }
      main .group6 .box-shadow .email {
        padding: 1rem 0;
        width: 100% !important; }
      main .group6 .box-shadow .group6-btn {
        margin: 1.5rem 30% 0 30%;
        padding: 1rem;
        border-radius: 5px !important; }

  footer {
    padding: 5rem 0; } }
@media (max-width: 450px) {
  html {
    font-size: 40%; }

  footer .container .row .span {
    margin-right: 0 !important; } }