@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear; }

html {
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem; }
  html a {
    text-decoration: none; }


.about {
  background: url(../image/product-image/about-bg.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .about .container {
    padding: 20rem 0; }
    .about .container .content .text-warning {
      font-size: 6rem;
      font-family: 'Grand Hotel', cursive; }
    .about .container .content .title {
      font-size: 3rem; }
    .about .container .content .btn {
      font-size: calc(1.3rem + 0.5vw);
      padding: 1rem 4rem;
      color: white;
      background-color: gold;
      margin: 2rem 0; }
    .about .container .content .btn:hover {
      color: gold;
      background-color: white; }
    .about .container .content .icons {
      background-color: darkgray;
      height: 90%; }
      .about .container .content .icons .col-3 {
        display: flex;
        justify-content: center; }

.popular .container .heading span {
  font-size: 6rem;
  font-family: 'Grand Hotel', cursive; }
.popular .container .heading p {
  font-size: 3rem; }
.popular .container .box {
  margin: 1rem 0; }
  .popular .container .box .border-box {
    padding: 1rem 0;
    border-radius: 1.5rem;
    background-color: #aaaaaa; }
  .popular .container .box .content p {
    font-size: 3rem;
    color: #130f40; }
  .popular .container .box .content .stars {
    padding: 1rem 0;
    font-size: 2rem; }
    .popular .container .box .content .stars i {
      color: gold; }
    .popular .container .box .content .stars span {
      color: #666; }
  .popular .container .box .content .price {
    font-size: 2rem;
    color: #130f40; }
    .popular .container .box .content .price span {
      font-size: 1.5rem;
      color: #666;
      text-decoration: line-through; }
  .popular .container .box .content .btn {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: gold;
    color: white; }
  .popular .container .box .content .btn:hover {
    background-color: white;
    color: gold; }
  .popular .container .box .content .fa-heart {
    font-size: 3rem;
    padding-top: 1rem;
    color: gold; }
  .popular .container .box .content .fa-heart:hover {
    color: coral; }

.banner .row .banner-col1, .banner .row .banner-col2, .banner .row .banner-col3 {
  padding: 5rem 0; }
.banner .row .banner-col1 .content {
  background: url(../image/product-image/banner-1.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem; }
.banner .row .banner-col2 .content {
  background: url(../image/product-image/banner-2.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  border: 2px solid black; }
.banner .row .banner-col3 .content {
  background: url(../image/product-image/banner-3.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem; }
.banner .row .content {
  height: 40rem;
  margin: 0 3rem; }
  .banner .row .content span {
    font-size: 4rem;
    font-family: 'Grand Hotel', cursive; }
  .banner .row .content .btn {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: white;
    background-color: gold; }
  .banner .row .content .btn:hover {
    color: gold;
    background-color: white; }
.banner .row .content:hover {
  transform: scale(1.1); }

.menu .heading span {
  font-size: 8rem;
  font-family: 'Grand Hotel', cursive; }
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem; }
  .menu .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem; }
    .menu .box-container .box:hover {
      background: black; }
      .menu .box-container .box:hover .content h3 {
        color: #fff; }
    .menu .box-container .box img {
      height: 10rem; }
    .menu .box-container .box .content h3 {
      font-size: 2rem;
      color: #130f40;
      padding-bottom: .5rem; }
    .menu .box-container .box .content .price {
      font-size: 1.8rem;
      color: #27ae60; }

.order .heading span {
  font-size: 8rem;
  font-family: 'Grand Hotel', cursive; }
.order .row .text-center {
  border-radius: 1rem;
  background-color: #666666;
  color: white; }

@media (max-width: 991px) {
  html {
    font-size: 55%; }

  .header {
    padding: 2rem; } }
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block; }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: white;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem !important;
      color: black !important; }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem; }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8); }

  main .content-title p, main .content-title h3 {
    text-align: center !important; }

  footer {
    padding: 5rem 0; } }
@media (max-width: 450px) {
  html {
    font-size: 50%; }

  .shopping-cart-container .cart-total .box {
    text-align: center; }
    .shopping-cart-container .cart-total .box .btn {
      width: 100%; }

  .home .content h3 {
    font-size: 3rem; }
  .home .content p {
    font-size: 1.5rem; }

  footer .container .row .span {
    margin-right: 0 !important; } }

/*# sourceMappingURL=product.css.map */
